header {
  width: 100%;
  text-align: center;
  color: white;
  top: 0;
}

img {
  width: 40%;
}

body,
p,
input,
select,
textarea,
button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 22px;
  text-shadow: 0px;
  color: #FFF;
  font: bold;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 16px*20;
  padding: 16px;
  background-color: white;
  margin-top: 10px;
}

label {
  display: block;
  width: 100%;
}

input {
  border-radius: 10px;
  margin-right: 16px/2;
  box-shadow: inset 2px 2px 5px white, inset -5px -5px 10px white;
  width: 80%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px white, inset -1px -1px 2 white;
  }
}

.form {
  width: 30%;
  background: #DDA476;
  border-radius: 30px;
  border: dashed #F9E4C4;
  padding: 15px 15px 15px 15px;
  width: 16px*20;
  margin: 0 auto;
  margin-top: 30px;
}

.button-login {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-top: 15px;
  outline: none;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button-login:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-login:main,
.button-login:focus {
  user-select: auto;
}

.button-login:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-login:disabled {
  cursor: auto;
}

.button-login:active {
  border-width: 4px 0 0;
  background: none;
}

.signup {
  color: #FFF;
  margin-top: 20px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}